<div id="second-card" class="container">
        
    <div class="card mb-3">
        <div class="card-body">
            
            <!--About Title and edit-->
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <h4>Acerca de</h4>
                        <a id="edit-about" href="#">
                            <i class="fa-solid fa-pencil"></i> 
                        </a>
                    </div>
                </div>
                    
            </div>
            
            <!-- About Content -->
            <div class="row">
                <div class="col-md-12">
                    <p>Programador, estudiante de Desarrollo de Software y programación FullStack</p>
                </div>
            </div>
        </div>
    </div>



</div>