    <!--Navbar Component-->
    <app-navbar></app-navbar>

    <br>

    <!--First card (Profile)-->
    <app-profile-card></app-profile-card>

    <!--Second Card (About card)-->
    <app-about-card></app-about-card>
   
    <!-- Third card (Experience and Education)-->
    <app-experience-education-card></app-experience-education-card>

    <!-- Fourth card (Hard and Soft Skills)-->
    <app-hard-soft-skills-card></app-hard-soft-skills-card>

    <!-- Fifth card (Projects)-->
    <app-projects-card></app-projects-card>
