<div id="third-card" class="container">

    <div class="card mb-3">

        <div class="card-body">

            <div id="experience-header" class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <h4>Experiencia</h4>
                        <a class="new-item" href="#">
                            <i class="fa-solid fa-plus"></i> 
                        </a>
                    </div>
                </div>
        
            </div>

            <hr/>

            <div id="education-header" class="row">
    
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <h4>Educación</h4>
                        <a class="new-item" href="#">
                            <i class="fa-solid fa-plus"></i> 
                        </a>
                    </div>
                </div>
        
            </div>

            <div class="row">
                    
                <div class="col-md-12">
  
                    <ul>
                        <li *ngFor="let educacion of ListaEducacion" style="list-style-type: none;">
                            <ul class="education-item-content">
                                
                                
                                    <img src={{educacion.educationImg}} class="education-image">
                                       
                                    <a class="delete-item" href="#">
                                        <i class="fa-solid fa-trash"></i> 
                                    </a>  

                                    <a class="edit-item" href="#">
                                        <i class="fa-solid fa-pencil"></i> 
                                    </a>
                                   
                                 
                                    <li>
                                        <h5 class="education-item-title">{{educacion.educationTitle}}</h5>
                                        <p class="education-item-description">{{educacion.educationItemDescription}}</p>
                                    </li>

                                    <hr/>


                                
                            </ul>
                        </li>
                                
                    </ul>
                        


                </div>

            </div>

        </div>

    </div>

</div>
