<div id="third-card" class="container">

    <div class="card mb-3">

        <div class="card-body">

            <div id="experience-header" class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <h4>Experiencia</h4>
                        <a id="edit-experience" href="#">
                            <i class="fa-solid fa-pencil"></i> 
                        </a>
                    </div>
                </div>
        
            </div>

            <hr/>

            <div id="education-header" class="row">
    
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <h4>Educación</h4>
                        <a id="edit-education" href="#">
                            <i class="fa-solid fa-pencil"></i> 
                        </a>
                    </div>
                </div>
        
            </div>

            <div class="row">
                    
                <div class="col-md-12">

                    <div class="d-flex justify-content-between">
                        
                        <div class="d-flex justify-content-start">
                            <ul class="education-element">
                                <li class="education-item">
                                    <img src="../../../assets/img/Normal 1.jpg" class = "education-image">
                                </li>
                                <li class="education-item">
                                    <ul class="education-item-content">
                                        <li>
                                            <h5 class="education-item-title">Escuela Normal Superior N°1 - Prov. N°34 - "Dr. Nicolás Avellaneda"</h5>
                                            <p>Bachiller en Ciencias Naturales</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                        <a id="edit-education" href="#">
                            <i class="fa-solid fa-pencil"></i> 
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
