<nav class="navbar fixed-top navbar-dark bg-dark ">
    <!--Navbar name-->
    <span id="navbar-name" class="navbar-brand mb-0 h2">Genaro Tabare</span>

    <!--Navbar right margin (contacts and login btn)-->
    <div id="navbar-right-margin">
        <ul id="navbar-contact">

            <li class="navbar-contact-item">
                <a href="https://www.instagram.com/tureskao/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="navbar-contact-item">
                <a href="https://www.facebook.com/Tureskao">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li class="navbar-contact-item">
                <a href="">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            <li class="navbar-contact-item">
                <a href="">
                    <i class="fab fa-github-square"></i>
                </a>
            </li>
            <li class="navbar-contact-item">       
                <form>
                    <button id="login-btn" class="btn btn-outline-success btn-sm" type="button">Login</button>
                </form>
            </li>
        </ul>

    </div>


</nav>
