<div id="first-card" class="container">
        
    <div class="card mb-3">
        <img id="portfolio-banner" class="card-img-top" src="../../../assets/img/bootstrap-social.png" alt="Card image cap" >

        
        <div class="card-body" id="portfolio-profile">
            
            <!-- Profile picture & Edit btn -->
            <div class="row">
                <div class="col-md-4">
                    <img id="portfolio-pfp" src="../../assets/img/Pixelart.png">
                    <a id="edit-profile" href="#">
                        <i class="fa-solid fa-pencil"></i> 
                    </a>
                </div>      
            </div>
            
            <!-- Profile content -->
            <div class="row">
                <div class="col-md-8">
                    <h5 class="card-title">Genaro Tomás Tabare</h5>
                    <p class="card-text">Desarrollador Fullstack Jr.</p>
                    <p class="card-text"><small class="text-muted">Rosario, Santa Fe (Argentina)</small> 
                    <small class="text-muted"><a href="#">Información de contacto</a></small></p>
                </div>   
            </div>
                
        <br>

            <!-- Profile btns  -->
            <div class="row">
                <div class="col-md-6">
                    <ul id="portfolio-btns">
                        <li class="profile-contact-item">       
                            <form>
                                <button id="iAmInterested-btn" class="btn btn-primary btn-sm" type="button">Tengo interés en</button>
                            </form>
                        </li>
                        <li class="profile-contact-item">       
                            <form>
                                <button id="addSection-btn" class="btn btn-sm" type="button">Añadir sección</button>
                            </form>
                        </li>
                        <li class="profile-contact-item">       
                            <form>
                                <button id="more-btn" class="btn btn-sm" type="button">Más</button>
                            </form>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <!--empty space-->
                </div>

            </div>


        </div>
    </div>
</div>